.select-park-info-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
    width: 100%;
    background-color: #0e1930;
    padding: 9px;
    font-size: 100%;
}

.select-park-info-container>div {
    width: 100%;
    height: 100%;
    background-color: #0e1930;
}

.select-location-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.select-location-container>div {
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-location-container>div>input {
    display: none;
}

.select-location-container>div>span {
    color: white;
    font-size: 1.1em;
}

.select-location-container>div>label {
    padding: 15px;
}

.select-location-container>div>input:checked+label {
    padding: 17px;
    border: 3px solid rgb(251, 251, 251);
    border-radius: 7px;
}

.select-location-container>div>a>button {
    cursor: pointer;
    padding: 9px;
    font-size: 1.2em;
    outline: none;
    border-radius: 9px;
    border: none;
    margin: 7px;
    background-color: #01d293;
}

.select-data-container {
    padding: 9px;
    width: 13em;
    margin: auto;
}

.select-data-container input:disabled {
    cursor: not-allowed;
}

.select-date-time-container>button {
    background-color: #01d293;
    font-size: 1.2em;
    padding: 9px 15px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    margin: 9px auto;
}

.select-date-time-container>button:disabled {
    background-color: #26c393;
    cursor: not-allowed;
}

.select-time-contianer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select-time-contianer>span>input {
    display: none;
}

.select-time-contianer>span>label {
    padding: 15px;
    border: 3px solid rgb(255, 255, 255);
    margin: 5px;
    display: inline-block;
    border-radius: 9px;
    color: white;
    cursor: pointer;
}

.select-time-contianer>span>input:disabled+label {
    padding: 13px;
    border: 3px solid rgb(76, 76, 76);
    margin: 5px;
    display: inline-block;
    border-radius: 9px;
    color: rgb(172, 172, 172);
    cursor: not-allowed;
}

.select-time-contianer>span>input:checked+label {
    padding: 17px;
    color: #01d293;
    border-color: #01d293;
}

@media screen and (min-width: 505px) {
    .select-park-info-container {
        font-size: 90% !important;
    }
}

@media screen and (max-width: 505px) {
.mapboxgl-canvas{
    width: 23em !important;
    height: 25em !important;
}
}

@media screen and (max-width: 367px) {
.mapboxgl-canvas{
    width: 19em !important;
    height: 21em !important;
}
}